.ik-layout-footer{
  background: $color-primary;
  left:0;
  right:0;
  bottom:0;
  height:30px;
  margin:0;
  border-top:$color-primary;
  transition:all .5s;
  overflow: hidden;
  z-index: 800;
}

.ik-footer-disclaimer{
  font-size:92%;
  display:block;
  color:#777;
  line-height:3;
  text-align:center;
  margin-top: -5px;
}
@media (max-width:700px){
  .aw-footer-disclaimer{
      font-size:65%
  }
}
